.logo span,
.logo i {
  transition: all 150ms ease;
}
.logo:hover i,
.logo:hover span {
  color: #5678ff !important;
  transition: all 150ms ease;
}
.profile-img {
  border: 1px solid #ff5678;
}
.btn-primary {
  background-color: #5678ff;
  border-color: #5678ff;
}
.btn-outline-primary {
  border-color: #5678ff;
}
.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: black;
  border-color: black;
}
